
* {
    box-sizing: border-box;
}

body {
    font-family: monospace, sans-serif;
    color: #222;
    background-color: #27B4f5;
    margin: 0;
    padding: 0;
}


header {
    background-color: #fffff;
    color: white;
    padding: 20px;
    text-align: center;
}


nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
}


nav a:hover {
    text-decoration: underline;
    color: #f59f27;
}

nav {
    background-color: #333;
    padding: 10px;
    text-align: center;
}

main {
    background-color: white;
    margin: 15px auto;
    padding: 15px;
    border: 1px solid #ccc;
    max-width: 900px;
}


.highlight {
    background-color: #fff3cd;
    padding: 5px;
    border: 1px solid #e0c36f;
}


#currentDate {
    font-style: bold;
    color: #555;
    margin-top: 20px;
}


ul {
    list-style-type: square;
}

ol {
    list-style-type: decimal;
}

footer {
    background-color: #1f3a5f;
    color: white;
    padding: 15px;
    text-align: center;
}

a:visited {
    color: orange;
}